@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
   
}

body{
    height: 100vh;
    box-sizing: border-box;
}

:root{
    --contraste1: #ffffff;
    --contraste2: #121211;
    --corDestaque: #fd6c6c;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--contraste2);
    color: #ffffff;
    z-index: 1000;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 10px;
    
}

.carrinho-btn{
    border: none;
    background: transparent;
    font-size: 3vh;    
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.carrinho-btn li{
    list-style: none;
    display: flex;
    flex-direction: column;
}



.carrinho-aside{
    display: block;
    padding: 10px;
    float: right;
   border-left: 3px solid #121211;
   height: 100%;
   width: 300px;
  

}
.busca{
    background-color: var(--contraste1);
    padding: 5px;
   
    
}

.nav > nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 
    
}

#logo a{
    text-decoration: none;
    color: #ffffff;
}


nav > li{
    list-style: none;
    font-size: 3vh;    
}

nav li a{
    text-decoration: none;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav li a:hover{
    text-decoration: underline;
}

.user-nav i{
    font-size: 3vh;    
}

.user-nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-nav ul {
    display: flex;
    flex-direction: column;
    background-color: #000;
  
}

.user-nav ul li{
    list-style: none;
}



.busca input{
    width: 500px;
    height: 25px;
    padding: 5px;
    outline: none;
    border: none;
}

input::placeholder{
    font-weight: bolder;
}


.procurar{
    background: transparent;
    border: none;
    cursor: pointer;
}

main{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
   



.none{
    display: none;
}

.results {
    position: absolute; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    top: 10%;
    margin-top: 10px;
    width: 90%; 
    max-width: 1200px; 
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); 
    padding: 20px;
    max-height: 400px; 
    overflow-y: auto; 
}

.nav-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left; /* Deixa os itens alinhados à esquerda */
    background-color: #ffffff;
    gap: 1rem;
}

.camisa-pesquisa {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-top: 1px solid #ddd;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.camisa-pesquisa:hover {
    background-color: #f0f0f0; /* Efeito hover mais claro */
}

.camisa-pesquisa img {
    width: 70px;
    border-radius: 4px;
}

.camisa-pesquisa a {
    color: #121211;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    flex: 1;
}

.camisa-pesquisa p {
    color: #555;
    font-size: 0.9rem;
    margin: 0;
}

.list-results .camisa-pesquisa:nth-child(1) {
    border-top: none;
}



#imagens{
    display: flex;
   
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.slidesImages{
    width: 30vh;
}


#slide{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    z-index: 0;
    margin-bottom: 180px;
    
    
}

#imagens img{
    width: 120vh;
}

.button-slide{
    width: 50px ;
  font-size: 3.5rem;    
  background: transparent;
  border: none;
  cursor: pointer;
  
}

.container-camisa {

   
    max-width: 1200px;
    width: 95%;
   
  

  }

  .title-marca{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .title-marca img{
    width: 10vh;
  }

  .camisa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 3px solid #121211;
    border-radius: 15px;
    padding: 5px;
  }

  .camisa:focus{
    cursor: pointer;
   
  }



 

 
  .slider-wrapper {
    position: relative;
  }
  .slider-wrapper .slide-button {
    position: absolute;
    top: 50%;
    outline: none;
    border: none;
    height: 50px;
    width: 50px;
    z-index: 5;
    color: #fff;
    display: flex;
    cursor: pointer;
    font-size: 2.2rem;
    background: #000;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transform: translateY(-50%);
  }
  .slider-wrapper .slide-button:hover {
    background: #404040;
  }
  .slider-wrapper .slide-button#prev-slide {
    left: -25px;
    display: none;
  }
  .slider-wrapper .slide-button#next-slide {
    right: -25px;
  }
  .slider-wrapper .image-list {
   display: flex;
    gap: 20px;
    
    font-size: 0;
    list-style: none;
    margin-bottom: 30px;
    overflow-x: auto;
    scrollbar-width: none;
  }

  .slider-wrapper .image-list .link-camisa{
    text-decoration: none;
    color: #121211;
    font-size: 1.2rem;

  }


  .slider-wrapper .image-list::-webkit-scrollbar {
    display: none;
  }
  .slider-wrapper .image-list .image-item {
    width: 325px;
    height: 400px;
    object-fit: cover;
  }
 
  .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    width: 100%;
    gap: 1rem;
    background-color: #121211;
    color: #fff;
    padding: 20px;
    padding-bottom: 50px;
  }
  
  .newsletter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    gap: 1rem;
    background-color: #121211;
    color: #fff;
    padding: 20px;
    padding-bottom: 50px;
  }

  .newsletter h1{
    font-size: 34px;
    font-weight: 700;
  }
  
  .newsletter p{
    margin-top: 0;
    line-height: 20px;
  }
  
  

  .input-field-newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 50px;
    border: 2px solid #fff;
  }

  .input-field-newsletter input, button{
    border: none;
  }
  .input-field-newsletter button{
    border: none;
    padding-left: 5px;
    cursor: pointer;
    height: 100%;
    font-size: 1.3rem;
    width: 30px;
  }
  .input-field-newsletter input{
    border: none;
    padding: 0 10px;
    width: 100%;
    font-size: 14px;
    height: 100%;
  }
  .input-field-newsletter input:focus{
  outline: none;
  }
  .input-field-newsletter input:focus{
    border: none;
  }


  .section-informative-banners{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 75px;
    width: 100%;
    gap: 1rem;
    background-color: #121211;
    color: #fff;
    padding: 20px;
    padding-bottom: 50px;
  }

.section-informative-banners div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    padding: 5px;
    
}

.section-informative-banners div .img-informative{
    padding: 15px;
}

.section-informative-banners div i{
    font-size: 2rem;
}

.section-informative-banners div > .text-informative{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
}

footer{
    margin-top: 50px;
    padding: 50px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    color: var(--contraste1);
    background-color: var(--contraste2);
    
    gap: 1rem;
}

.infos{
    
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  padding: 5px;
    
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
   
}

.footer-list li{
    font-size: 2vh;

}


.atendimento{
    display: flex;
    flex-direction: column;
}

.atendimento nav{
    display: flex;
    flex-direction: column;
}

.pagamento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

#cartoes{
    display: flex;
    gap: 1rem;
}
#cartoes i{
    font-size: 1.5rem;
   
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    padding: 10px;
    margin: 0;
}

.container{
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.info-camisa{
    display: flex;
}

.dados-camisa{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.pagar{
    display: flex;
    gap: 2rem;
}

.carrinho{
    display: flex;
    cursor: pointer;
}

.carrinho li{
    list-style: none;

}

.carrinho li a{
    text-decoration: none;
    color: #121211;
}
.carrinho li a:hover{
    text-decoration: underline;
}

.comprar{
    padding: 10px;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
}

.adicionar-carrinho{
    border: none;
    background: transparent;
    width: 100%;
    background-color: var(--contraste1);
   margin-top: 5px;
   text-align: center;
}

.button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3px;
}

.quantidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.quantidade-btn{
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
}

#quantidade{
    font-size: 1.3rem;
}

.quantidade > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.remove{
    display: none;
}

.infos .sobre{
    max-width: 350px;
}


@media screen and (max-width: 1760px) {
    

    nav{
        padding: 0 30px;
    }

    

.infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}

.infos .sobre{
    max-width: 200px;
    
}

.sobre > p{
    max-width: 200px;
}





.camisas {
    /* Propriedades CSS específicas para telas menores que 768px de largura */
    width: 90%; /* Por exemplo, ajustando a largura para ocupar 90% da largura da tela */
    margin: 0 auto; /* Centralizando o flex container na tela */
    overflow-x: auto; /* Permitindo a rolagem horizontal se necessário */
  }

  #slide{
    margin-top: 200px;
    width: 90%;
  }

  #slide img{
    width: 50vh;
  }

.busca input {
    width: 90%;
  
}

.busca{
    width: 80%;
}

.camisa-pesquisa {
    flex-direction: column;
    width: 90%;
}

.newsletter {
    width: 90%;
}

.section-informative-banners {
    flex-direction: column;
    padding: 20px;
}

.infos {
    grid-template-columns: repeat(2, 1fr);
}
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        text-align: center;
       
    }

    .carrinho-aside {
        width: 100%;
        height: auto;
        border-left: none;
        padding: 5px;
    }

    .nav > nav {
        margin-top: 20px;
        gap: 1rem;
    }

    .busca input {
        width: 50%;
    }

    .busca{
        display: flex;
        flex-direction: column;
    }

    .results {
        width: 90%;
    }

    .camisa-pesquisa {
        flex-direction: column;
        width: 75%;
        padding: 5px;
    }

    .slider-wrapper .image-list {
        gap: 10px;
    }

    .slider-wrapper .image-list .image-item {
        width: 200px;
        height: 300px;
    }

    .container-camisa {
        width: 80%;
    }

    .newsletter {
        width: 100%;
        padding: 15px;
    }

    .section-informative-banners {
        flex-direction: column;
        padding: 10px;
    }

    .infos {
        grid-template-columns: 1fr;
    }

    footer {
        padding: 20px 10px;
    }

    .input-field-newsletter {
        width: 90%;
    }

    .info-camisa {
        flex-direction: column;
        padding: 10px;
    }

    .pagar {
        flex-direction: column;
        gap: 1rem;
    }

    .container {
        flex-direction: column;
        margin-top: 50px;
    }

    #imagens img {
        width: 100%;
    }
}

/* Ajustes extras para telas muito pequenas (abaixo de 480px) */
@media (max-width: 480px) {
    header {
        padding: 5px;
    }

    .busca input {
        width: 100%;
    }

    .camisa-pesquisa {
        gap: 0.5rem;
    }

    .newsletter h1 {
        font-size: 28px;
    }

    .input-field-newsletter {
        width: 100%;
    }

    .newsletter{
        padding: 5px;
        max-width: 95%;
    }

    .input-field-newsletter input {
        font-size: 12px;
    }

    .section-informative-banners div {
        padding: 5px;
        max-width: 100%;
    }

    .infos .sobre {
        max-width: 100%;
    }
}







